# Node dependencies
/**/node_modules

# Typescript or JavaScript builds or distributables 
/**/build

# Test framework files
/**/coverage

# Environtment files
.env
.env.development
.env.production

# Other files
client_*.json
my-social-media*.json